<ul>
  <li> <a href='/the_call_of_cthulhu'>The Call of Cthuluhu</a></li>
  <li> <a href='/cool_air'>Cool Air</a></li>
  <li> <a href='/the_outsider'>The Outsider</a></li>
  <li> <a href='/color_out_of_space'>Color out of Space</a></li>
  
</ul>