<h1>H.P Lovecraft</h1>  


<h2>The oldest and strongest emotion of mankind is fear.<br> And the oldest and strongest kind of fear is fear of the unknown.</h2>  

<ul>
<li><a href='/bio'> Biography </a></li>
<li><a href='/works'> Works </a></li>
</ul>